<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kareostudio.gravityshift" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Gravity Shift</name>
    <description>My HTML Game</description>
    <author email="kareobusiness23@gmail.com" href="https://github.com/KareoStudio">Kareo Studio</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="res/icon/android/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon/android/icon.png" density="ldpi" />
        <icon src="res/icon/android/icon.png" density="mdpi" />
        <icon src="res/icon/android/icon.png" density="hdpi" />
        <icon src="res/icon/android/icon.png" density="xhdpi" />
        <icon src="res/icon/android/icon.png" density="xxhdpi" />
        <icon src="res/icon/android/icon.png" density="xxxhdpi" />
    </platform>
</widget>
